'scopeName': 'source.groovy-properties'
'name': 'Groovy Properties'
'fileTypes': [
  'properties'
]
'foldingStartMarker': '^[a-zA-Z0-9.-_]+=.*\\\n'
'foldingStopMarker': '^(.*(?<!\\)\n)'
'patterns': [
  {
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.groovy-properties'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.groovy-properties'
        'end': '\\n'
        'name': 'comment.line.number-sign.groovy-properties'
      }
    ]
  }
  {
    'begin': '(^[ \\t]+)?(?=!)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.groovy-properties'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '!'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.groovy-properties'
        'end': '\\n'
        'name': 'comment.line.exclamation.groovy-properties'
      }
    ]
  }
  {
    'begin': '^\\s*(([\\S&&[^:=\\\\]]|\\\\.)+)\\s*([:=])?'
    'beginCaptures':
      '1':
        'name': 'support.constant.groovy-properties'
        'patterns': [
          {
            'match': '\\\\([tnfr"\'\\\\ ]|u\\h{4})'
            'name': 'constant.character.escape.groovy-properties'
          }
        ]
      '3':
        'name': 'punctuation.separator.key-value.groovy-properties'
    'end': '\\n'
    'name': 'meta.key-pair.groovy-properties'
    'patterns': [
      {
        'begin': '(?=\\S)'
        'end': '(?<!\\\\)(?=\\n)'
        'name': 'string.unquoted.groovy-properties'
        'patterns': [
          {
            'match': '\\\\([tnfr"\'\\\\]|u\\h{4}|)'
            'name': 'constant.character.escape.groovy-properties'
          }
        ]
      }
    ]
  }
]
